<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Weekly Summary</ion-title>
    <ion-buttons slot="end">
      <ion-button href="http://wpi.qualtrics.com/jfe/form/SV_8wCVNUzfr8zUMdL">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  here is where the information would go

  <ion-button vertical="bottom" expand="block" fill="solid" color="light" href="/tabs/(settings:settings)">Review Habits</ion-button>


</ion-content>
