<ion-header>
  <ion-toolbar>
    <ion-title>Rest&Renew</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">
  <ion-row justify-content-evenly>
    <ion-col col-lg-1 style="padding: 2%">
      <img [src]="imgSrc" alt="WPI Logo"/>
    </ion-col>
    <ion-col col-lg-1 style="padding: 2%">
      <img [src]="image" alt="Reliant Medical Group"/>
    </ion-col>
  </ion-row>

  <p></p>


  <ion-item>
    <ion-input type="text" placeholder="Username" [(ngModel)]="globalID.userID"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button (click)="login(); saveUserID()" class="button button-block button-positive" color="light">Login</ion-button>
  <ion-button class="button button-block button-positive button-small" color="warning" href="/register" routerDirection="forward">Forgot Password?</ion-button>



</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button class="button button-block button-positive" color="light" href="/register" routerDirection="forward">Create New Account</ion-button>
  </ion-toolbar>
</ion-footer>