<ion-header>
  <ion-toolbar>
    <ion-title>Add Journal Entry</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <ion-item-group>
    <ion-item>
      <ion-label extend="block" style="text-align: center">Journal Entry Date: {{formattedDate}}</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item>
      <ion-input required type="text" placeholder="Journal Title" [(ngModel)]="journal.title"></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item>
      <ion-input required type="text" placeholder="Journal Entry" [(ngModel)]="journal.entry"></ion-input>
    </ion-item>
  </ion-item-group>

  <ion-button color="light" class="button button-block button-positive" (click)="saveJournal(); openJournalPage()">Save Journal Entry</ion-button>

</ion-content>
