<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openJournalPage()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>View Journal Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <ion-card>
    <ion-item-divider color="light">Entry Date: {{journal.date}}</ion-item-divider>
  </ion-card>

  <ion-card>
    <ion-item-divider color="light">{{journal.entry}}</ion-item-divider>
  </ion-card>

  <ion-button color="light" class="button button-block button-positive" (click)="openJournalPage()">Close Journal Entry</ion-button>

</ion-content>
