.habit-background-page {

  ion-item {
    position: relative;
    text-align: center;
  }

  $color: (
          dark = #0bb8cc,
);

}

.fake-skeleton {
  width: 60%;
}

.yourClass {
  .toast-wrapper {
    transform: translateY(70px) !important;
  }
}
