<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Habit Tracker</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-item>
        <ion-label style="padding: 49%">Welcome Back! Today's Date: {{formattedDate}}</ion-label>
    </ion-item>


    <p>
        <ion-button style="padding: 2%" class="button button-large button-positive" color="medium">M</ion-button>
        <ion-button style="padding: 2%" class="button button-large button-positive" color="medium">T</ion-button>
        <ion-button style="padding: 2%" class="button button-large button-positive" color="medium">W</ion-button>
        <ion-button style="padding: 2%" class="button button-large button-positive" color="medium">Th</ion-button>
        <ion-button style="padding: 2%" class="button button-large button-positive" color="medium">F</ion-button>
    </p>

    <p margin="auto">
        <ion-button class="button button-block button-positive" color="light" (click)="btnClicked()">Drink Water</ion-button>
    </p>
    <p margin="auto">
        <ion-button class="button button-block button-positive" color="light" (click)="btnClicked()">Take a Walk</ion-button>
    </p>
    <p margin="auto">
        <ion-button class="button button-block button-positive" color="light" (click)="btnClicked()">Deep Breath</ion-button>
    </p>
    <p margin="auto">
        <ion-button class="button button-block button-positive" color="light" (click)="openEditHabitPage()">Add New Habit!</ion-button>
    </p>

</ion-content>
