<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Habit Tracker</ion-title>
        <ion-buttons slot="end">
            <ion-button href="http://wpi.qualtrics.com/jfe/form/SV_8wCVNUzfr8zUMdL">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
    <ion-item-group>
        <ion-item>
            <ion-label style="text-align: center">Welcome Back!<br>Today's Date: {{formattedDate}}</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)=goPreviousWeek() expand="block" fill="solid" size="small" style="text-align: left">
                    <ion-icon name="arrow-back" style="zoom:1.5"></ion-icon>
                     Previous Week
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)=goNextWeek() expand="block" fill="solid" size="small" style="text-align: right">
                    Next Week
                    <ion-icon name="arrow-forward" style="zoom:1.5"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col->
                <ion-button expand="block" fill="solid" size="small" color="light">Su</ion-button>
            </ion-col>
            <ion-col col->
                <ion-button expand="block" fill="solid" size="small" color="light">M</ion-button>
            </ion-col>
            <ion-col col->
                <ion-button expand="block" fill="solid" size="small" color="light">T</ion-button>
            </ion-col>
            <ion-col col->
                <ion-button expand="block" fill="solid" size="small" color="light">W</ion-button>
            </ion-col>
            <ion-col col->
                <ion-button expand="block" fill="solid" size="small" color="light">Th</ion-button>
            </ion-col>
            <ion-col col->
                <ion-button expand="block" fill="solid" size="small" color="light">F</ion-button>
            </ion-col>
            <ion-col col->
                <ion-button expand="block" fill="solid" size="small" color="light">Sa</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <p></p>

    <ion-item-group>
        <ion-button expand="block" fill="solid" (click)="toggleNamedColor(); btnClicked()" [color]="ionicNamedColor">Drink Water</ion-button>
        <p></p>
        <ion-button expand="block" fill="solid" (click)="toggleNamedColor2(); btnClicked()" [color]="ionicNamedColor2">Take a Walk</ion-button>
        <p></p>
        <ion-button expand="block" fill="solid" (click)="toggleNamedColor3(); btnClicked()" [color]="ionicNamedColor3">Deep Breath</ion-button>
    </ion-item-group>

    <p></p>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openAddHabitPage()">
            <ion-icon name="add" style="zoom:2.0"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <p></p>
    <p></p> Test 'Habit List' Below
    <p></p>
    <p></p>



        <ng-container *ngIf="!habits || habits.length == 0">
            <div *ngFor="let n of [0,1,2]" padding>
                <ion-skeleton-text></ion-skeleton-text>
                <p>
                    <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
                </p>
            </div>
        </ng-container>

        <ion-item-sliding *ngFor="let item of habits">
            <ion-item lines="inset" button [routerLink]="['/edit', item.id]">
                <ion-label>
                    {{ item.name }}
                    <p>{{ item.createdAt | date:'short' }}</p>
                    <p>{{ item.time }}</p>
                </ion-label>
                <ion-note slot="end" color="primary">{{ item.time }}</ion-note>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="remove(item)" color="secondary">
                    Complete
                    <ion-icon name="checkmark-circle" slot="end"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>


</ion-content>
