<ion-header>
  <ion-toolbar>
    <ion-title>Edit Habit</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-list>

        <ion-item>
            <ion-input type="text" placeholder="Habit"></ion-input>
        </ion-item>

    </ion-list>


    <label class = "item item-input item-select">
        <div class = "input-label">
            Repeat
        </div>

        <select>
            <option>Daily</option>
            <option selected>Weekly</option>
        </select>
    </label>


<ion-item-group>
    <ion-item>
        <ion-label>Monday</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Tuesday</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Wednesday</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Thursday</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Friday</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>



    <ion-content padding>
    <button ion-button>Time Picker</button>

    <div padding>
        <button block>Save </button>
    </div>


</ion-content>