<ion-header>
  <ion-toolbar>
    <ion-title>Edit Habit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button>Time Picker</button>

    <ion-list>

        <ion-item>
            <ion-label fixed>Habit</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>

    </ion-list>


    <label class = "item item-input item-select">
        <div class = "input-label">
            Repeat
        </div>

        <select>
            <option>Daily</option>
            <option selected>Weekly</option>
        </select>
    </label>




</ion-content>