<ion-header>
    <ion-toolbar>
        <ion-title>Habit Tracker</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <p margin="auto">
        <ion-button align-items-center="" color="light" block (click)="btnClicked()">Drink Water</ion-button>
    </p>
    <p margin="auto">
        <ion-button color="light" block (click)="btnClicked()">Talk a Walk</ion-button>
    </p>
    <p margin="auto">
        <ion-button color="light" block (click)="btnClicked()">Deep Breath</ion-button>
    </p>
</ion-content>
