<ion-header>
    <ion-toolbar>
        <ion-title>Habit Tracker</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">

    <ion-list>

        <ion-item>
            <ion-button position=relative color="dark" block outline (click)="btnClicked()">Drink Water</ion-button>
        </ion-item>
        <ion-item>
            <ion-button color="dark" (click)="btnClicked()">Take a Walk</ion-button>
        </ion-item>
        <ion-item>
            <ion-button color="dark" (click)="btnClicked()">Take 3 deep breaths</ion-button>
        </ion-item>

    </ion-list>


</ion-content>
