<ion-header>
    <ion-toolbar>
        <ion-title>Habit Tracker</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <button>Click click click</button>

    <script>
        function setColor(btn, color){
            var count=1;
            var property = document.getElementById(btn);
            if (count == 0){
                property.style.backgroundColor = "#FFFFFF"
                count=1;
            }
            else{
                property.style.backgroundColor = "#7FFF00"
                count=0;
            }

        }
    </script>

    <p> <button type="button" onclick="setColor('button', '#00800')"> click me!!! </button><p>
    test test test

    The world is your oyster.
    <p> Date: <p>
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>

</ion-content>

<ion-grid>
    <ion-row justify-content-center>
        <ion-col col-auto (click)="back()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-col>
        <ion-col col-auto>
            <div>{{displayYear}} - {{displayMonth + 1 | monthName:lang}}</div>
        </ion-col>
        <ion-col col-auto (click)="forward()">
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head | weekdayName:lang}}</ion-col>
    </ion-row>

    <ion-row class="calendar-row" *ngFor="let week of weekArray;let i = index">
        <ion-col class="center calendar-col" (click)="daySelect(day,i,j)" *ngFor="let day of week;let j = index" [ngClass]="[day.isThisMonth?'this-month':'not-this-month',day.isToday?'today':'',day.isSelect?'select':'',day.hasEvent?'has-event':'']">
            {{day.date}}
            <span class="eventBlip" *ngIf="day.hasEvent"></span>
        </ion-col>
    </ion-row>

</ion-grid>