<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Habit Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button href="http://wpi.qualtrics.com/jfe/form/SV_8wCVNUzfr8zUMdL">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <!--< CURRENT HABITS -->
  <ion-card>
    <ion-list>
      <ion-item-divider color="light">Current Habits</ion-item-divider>
      <ng-container *ngIf="!habits || habits.length == 0">
        <div *ngFor="let n of [0,1,2]" padding>
          <ion-skeleton-text></ion-skeleton-text>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </div>
      </ng-container>

      <ion-item-sliding *ngFor="let item of habits">
        <ion-item *ngIf="item.on && !item.archive" lines="inset" button [routerLink]="['/edit', item.id]">
            <ion-label>
              {{ item.name }}
              <p>{{ item.time }}</p>
            </ion-label>
            <ion-note slot="end" color="primary">{{ item.time }}</ion-note>
          <ion-toggle slot="end" [(ngModel)]="item.on" (ionChange)="habitOff(item)"></ion-toggle>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="archiveHabit(item)" color="danger">
            Delete
            <ion-icon name="close-circle" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-card>

  <!--< ADD HABITS -->
  <ion-card>
    <ion-list>
      <ion-item-divider color="light">Add Habits</ion-item-divider>
      <ng-container *ngIf="!habits || habits.length == 0">
        <div *ngFor="let n of [0,1,2]" padding>
          <ion-skeleton-text></ion-skeleton-text>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </div>
      </ng-container>

      <ion-item-sliding *ngFor="let item of habits">
        <ion-item *ngIf="!item.on && !item.archive" lines="inset" button [routerLink]="['/edit', item.id]">
          <ion-label>
            {{ item.name }}
            <p>{{ item.time }}</p>
          </ion-label>
          <ion-note slot="end" color="primary">{{ item.time }}</ion-note>
          <ion-toggle slot="end" [(ngModel)]="item.on" (ionChange)="habitOn(item)"></ion-toggle>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="archiveHabit(item)" color="danger">
            Delete
            <ion-icon name="close-circle" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddHabitPage()">
      <ion-icon name="add" style="zoom:2.0"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


  <!--< OLD CURRENT AND ADD HABITS LISTS

    <ion-card>
    <ion-reorder-group>
      <ion-item-divider color="light">Current Habits</ion-item-divider>
      <ion-item *ngIf="water">
        <ion-label>Drink Water</ion-label>
        <ion-toggle [(ngModel)]="water"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="meditate">
        <ion-label>Meditate at lunchtime</ion-label>
        <ion-toggle [(ngModel)]="meditate"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="breathe">
        <ion-label>Take 3 deep breaths</ion-label>
        <ion-toggle [(ngModel)]="breathe"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="walk">
        <ion-label>Take a walk</ion-label>
        <ion-toggle [(ngModel)]="walk"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="getup">
        <ion-label>Get up from your desk</ion-label>
        <ion-toggle [(ngModel)]="getup"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-card>

  <p></p>

  <ion-card>
    <ion-reorder-group>
      <ion-item-divider color="light">Add Habits</ion-item-divider>
      <ion-item *ngIf="!water">
        <ion-label>Drink Water</ion-label>
        <ion-toggle [(ngModel)]="water2" (ionChange)="hidewater(); openEditHabitPage()"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="!meditate">
        <ion-label>Meditate at lunchtime</ion-label>
        <ion-toggle [(ngModel)]="meditate2" (ionChange)="hidemeditate(); openEditHabitPage()"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="!breathe">
        <ion-label>Take 3 deep breaths</ion-label>
        <ion-toggle [(ngModel)]="breathe2" (ionChange)="hidebreathe(); openEditHabitPage()"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="!walk">
        <ion-label>Take a walk</ion-label>
        <ion-toggle [(ngModel)]="walk2" (ionChange)="hidewalk(); openEditHabitPage()"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item *ngIf="!getup">
        <ion-label>Get up from your desk</ion-label>
        <ion-toggle [(ngModel)]="getup2" (ionChange)="hidegetup(); openEditHabitPage()"></ion-toggle>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-card>

  -->

  <!--<ion-list>
    <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
      <ion-item-divider color="light">Current Habits</ion-item-divider>
      <ion-item *ngFor="let item of items1">
        <ion-label>{{ item.habit }}</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>

      <p></p>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Add Habits</ion-item-divider>
      <ion-item *ngFor="let item of items2">
        <ion-label>{{ item.habit }}</ion-label>
        <ion-toggle (ionChange)="openEditHabitPage()"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>-->
