<ion-header>
  <ion-toolbar>
    <ion-title>Habit Settings</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="openEditHabitPage()">
        <ion-icon slot="icon-only" name="add" style="zoom:2.0"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>

  <ion-list>
    <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
      <ion-item-divider color="light">Current Habits</ion-item-divider>
      <ion-item *ngFor="let item of items1">
        <ion-label>{{ item.habit }}</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>

      <p></p>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Add Habits</ion-item-divider>
      <ion-item *ngFor="let item of items2">
        <ion-label>{{ item.habit }}</ion-label>
        <ion-toggle (ionChange)="openEditHabitPage()"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openEditHabitPage()">
      <ion-icon name="add" style="zoom:2.0"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--<ion-button class="button button-block button-positive" color="light" (click)="openEditHabitPage()">Add Custom Habit</ion-button>
-->
</ion-content>
