<ion-header>
  <ion-toolbar>
    <ion-title>Habit Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>

  <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
    <ion-item-divider color="light">Current Habits</ion-item-divider>
    <ion-item *ngFor="let item of items">{{ item }}</ion-item>
  </ion-item-group>

  <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
    <ion-item-divider color="light">Add Habits</ion-item-divider>
    <ion-item *ngFor="let item of items">{{ item }}</ion-item>
  </ion-item-group>

  <ion-button class="button button-block button-positive" color="light" (click)="btnClicked()">Add Custom Habit</ion-button>

</ion-content>
